html, body {
  /*background-color: #F9FAFB;
  background-color: lightblue;
  */
  color: #111;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
  /*height: 100vh;*/
  height: 297mm;
  width: 210mm;
  height: 297mm;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  /*overflow: hidden;*/
}

*, *::before, *::after {
  box-sizing: border-box;
}

.paper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1, h2, h3,
small, .muted {
  color: #111;
}

/*
a {
  display: flex;
  align-items: center;
  justify-content: center; 
  text-decoration: none; 
  color:inherit;
}
*/

.container {
  width: 100%;
  background: #F9FAFB;
  display: flex;
  flex-direction: row;
  gap: 0px;
  padding: 0;
  margin: 0;
}

.foot-container {
  width: 100%;
  background: #F9FAFB;
  display: flex;
  justify-content: center;
  padding: 0 0;
  margin: 0;
  min-height: 10px;
  flex-grow: 1;
}

.container+.foot-container{
  margin-top: 0;
}

.left-container {
  width: 33%;
  margin: 0;
  background: #E5E7EB;
  padding: 0;
  border-radius: 2px;
}

.right-container {
  width: 66%;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}

.left-container::after, 
.right-container::after {
  content: '';
  display: table;
  clear: both;
}

.icon-inline {
  height: 1em;
  vertical-align: middle;
  width: auto;
  margin-right: 6px;
}

.tile {
  position: relative;
  margin: 0 10px 5px 10px;
  border-radius: 2px;
  padding: 0.5em;
}

.tile-info {
  background: #D1D5DB;
  padding: 2px 10px;
  margin-bottom: 2px;
  font-size: 12px;
  box-shadow: inset 0 2px 0 #9CA3AF;
  border-radius: 4px;
  min-height: 2em;
}

.tile-info p {
  margin: 0.2em;
  line-height: 1; 
}

.tile-info img, .tile-info i {
  height: 1em;
  vertical-align: middle;
}

.tile-info i {
  margin-right: 5px;
}

.keywords-head {
  font-size: 0.75rem;
  padding: 0;
  margin-bottom: 0.2em;
  padding-left: 1.0em;
}

.keywords-head li {
  padding: 2px 10px;
}

.tile::after {
  display: table;
  clear: both;
}

.tile h1, .tile h2, .tile h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.tile p {
  font-size: 0.75rem;
  margin: 1em 0;
  line-height: 1.4;
}

.tile::before {
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
}

.keywords {
  font-size: 0.75rem;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keywords li {
  border-right: 2px solid #D1D5DB;
  border-bottom: 2px solid #D1D5DB;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 10px;
  margin: 2px;
  text-align: center;
  flex-grow: 1;
}

.circle-container {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  background-color: lightgray;
  margin: 5px auto;
}

.circle-image {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.timeline-both {
  position: relative;
  width: 100%;
  margin: 0;
  gap: 0px;
  padding: 0;
}

.timeline-both,
.timeline-left,
.timeline-right {
  background: #F9FAFB;
}


.timeline-each {
  position: relative;
  width: 100%;
  display: flex;
  min-height: 50px;
  transform: none !important;
  backface-visibility: visible !important;
  will-change: auto !important;
}

.timeline-left {
  position: relative;
  margin: 0;
  width: 5%;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #111;
}

.timeline-circle {
  position: absolute;
  left: 50%;
  top: 1em;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: #111;
  border-radius: 50%;
  z-index: 1;
}

.timeline-right {
  position: relative;
  height: 100%;
  width: 95%;
  margin: 0;
  padding: 0.em;
}

.find-me {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.find-me li {
  border-radius: 2px;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  font-size: 0.625rem;
}

.find-me li:not(:first-child)::before {
  content: "|";
  margin: 0 8em;
}

